<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('head.ejs') %>
        <title>입후보 신청</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet">
        <link href="/assets/css/board.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
    <div id="wrapper">
        <%- include('navigation.ejs') %>
            <%if(user.role==='student' ){%>
                <button onclick="location.href= '/apply/create';">글쓰기</button>
                <%}%>
                    <form action="#" method="GET">
                        <table>
                            <thread>
                                <tr>
                                    <td width="100">학교</td>
                                    <td width="500">제목</td>
                                    <td width="100">작성자</td>
                                    <td width="100">여부</td>
                                    <td width="200">작성일</td>
                                </tr>
                            </thread>
                            <tbody>
                                <%applications.forEach(app=> {%>
                                    <tr>
                                        <td width="100" text-align="center">
                                            <%=app.school%>
                                        </td>
                                        <td width="500" text-align="center">
                                            <a href="/apply/<%=app.userId%>" style="color: black">
                                                <%=app.title%>
                                            </a>
                                        </td>
                                        <td width=" 100" text-align="center">
                                            이름
                                        <td width="100" text-align="center">
                                            <%=app.isConclude%>
                                        </td>
                                        <td width="200" text-align="center">
                                            <%=app.createdAt%>
                                        </td>
                                        </td>
                                    </tr>
                                    <%})%>
                            </tbody>
                        </table>
                    </form>
                    <div class="container">
                        <form style="margin :auto" , action="#" , method="GET">
                            <div id="write-wrap">
                                <select>
                                    <option value="title">제목</option>
                                    <option value="name">작성자</option>
                                </select>
                                
                                <input type="text" name="search" size="30" required="required">
                                <button>
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            
                        </form>
                    </div>
                    
	<%- include('footer.ejs')%>
</body>

</html>