<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('head.ejs') %>
        <title>입후보 신청</title>
        <link href="/assets/css/board.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
    <div id="wrapper">
        <%- include('navigation.ejs') %>
            <%if(user.role==='student' ){%>

                <div id="post-wrap">
                    <button onclick="location.href= '/apply/create';">글쓰기</button>
                </div>
                <%}%>
                    <form action="#" method="GET">
                        <table>
                            <thread>
                                <tr>
                                    <td width="100">학교</td>
                                    <td width="500">제목</td>
                                    <td width="100">작성자</td>
                                    <td width="100">여부</td>
                                    <td width="200">작성일</td>
                                </tr>
                            </thread>
                            <tbody>
                                <%applications.forEach(app=> {%>
                                    <tr>
                                        <td width="100" text-align="center">
                                            <%=app.school%>
                                        </td>
                                        <td width="500" text-align="center">
                                            <a href="/apply/<%=app.userId%>" style="color: black">
                                                <%=app.title%>
                                            </a>
                                        </td>
                                        <td width=" 100" text-align="center">
                                            <%= app.user.name%>
                                        <td width="100" text-align="center">
                                            <%=app.isConclude%>
                                        </td>
                                        <td width="200" text-align="center">
                                            <%=app.createdAt%>
                                        </td>
                                        </td>
                                    </tr>
                                    <%})%>
                            </tbody>
                        </table>
                    </form>

                    <%- include('footer.ejs')%>
</body>

</html>