<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Domestic
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20121201

-->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<%- include('head.ejs') %>
	<%- include('banner.ejs') %>
</head>

<body>
	<%- include('navigation.ejs') %>
	<section id="sidebar">
		<div class="banner">
			<ul>
				<li><img src="/img/poster1.jpg"></li>
				<li><img src="/img/poster2.jpg"></li>
				<li><img src="/img/poster3.jpg"></li>
			</ul>		
		</div>
		<div class="notifications">
			<div class="left-side">
				<div id="notes">
					<div class="notes-title">
						<span>공지사항</span>
						<a href="/notice"><i class="fas fa-plus"></i></a>
					</div>
					<ul class="list-style2">
						<%notices.forEach((notice, i)=> {%>
						<%if(i===0){%>
							<li class="first"><a href="/notice/<%=notice.id%>">
								<%=notice.title%>
							</a></li>
							<%}else{%>
							<li><a href="/notice/<%=notice.id%>">
								<%=notice.title%>
							</a></li>
							<%}%>
							<%})%>
					</ul>
				</div>
				<div id="notes">
					<div class="notes-title">
						<span>토론게시판</span>
						<a href="/debate"><i class="fas fa-plus"></i></a>
					</div>
					<ul class="list-style2">
						<%debates.forEach((notice, i)=> {%>
						<%if(i===0){%>
						<li class="first"><a href="/debate/<%=notice.id%>">
							<%=notice.title%>
						</a></li>
						<%}else{%>
						<li><a href="/debate/<%=notice.id%>">
							<%=notice.title%>
						</a></li>
						<%}%>
						<%})%>
					</ul>
				</div>
			</div>
			
			<div id="toays">
				<div class="notes-title">
					<span>이달의 일정</span>
				</div>
				<div class="auto-jsCalendar material-theme custom-red"></div>
			</div>
		</div>
	</section>
		<!-- end #page -->

	
		<%- include('footer.ejs')%>
			<!-- end #footer -->
	<script>
		const toggleBtn = document.querySelector('.toggle-btn');
		const menu = document.querySelector('#menu-items');

		toggleBtn.addEventListener('click', () => {
		menu.classList.toggle('active');
		});
	</script>
	<%-include('jsCalendar.ejs')%>
</body>
</html>

