<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('head.ejs') %>
    <title>토론게시판</title>
    <link href="assets/css/board.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
    <%- include('navigation.ejs') %>
	<div id="wrapper">
        <table>
            <thread>
                <tr>
                    <td width="100">이름</td>
                    <td width="300">이메일</td>
                    <td width="300">학생증</td>
                    <td width="100">학교</td>
                    <td width="100">반</td>
                    <td width="100">승인</td>
                </tr>
            </thread>
            <tbody>
                <%students.forEach(stu=> {%>

                    <tr>
                        <td width="100" text-align="center">
                            <%=stu.name%>
                        </td>
                        <td width="300" text-align="center">
                            <%=stu.email%>
                        </td>
                        <td width="300" text-align="center">
                            <img width="300" height="100" src="
            http://d1z5ds739c5ast.cloudfront.net/democracy-app/public/<%=stu.photo%>">
                        </td>
                        <td width="100" text-align="center">
                            <%=stu.school%>
                        </td>
                        <td width="100" text-align="center">
                            <%=stu.schoolClass%>
                        </td>
                        <td width="100" text-align="center">
                            <button class="permitButton" value="<%= stu.id%>,AA,<%=token%>">승인</button>
                        </td>
                    </tr>

                    <%})%>

            </tbody>
        </table>
</body>
<%- include('footer.ejs')%>

</html>