<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('head.ejs') %>
        <title>토론게시판</title>
        <link href="/assets/css/board.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
    <div id="wrapper">
        <%- include('navigation.ejs') %>
            <%if(user.role==='candidate'){%>
                <div id="post-wrap">
                    <button onclick="location.href= '/pledge/create';">글쓰기</button>
                </div>
                <%}%>
                    <form action="#" method="GET">
                        <table>
                            <thread>
                                <tr>
                                    <td width="100">학교</td>
                                    <td width="500">제목</td>
                                    <td width="100">작성자</td>
                                    <td width="200">작성일</td>
                                </tr>
                            </thread>
                            <tbody>
                                <%pledges.forEach(pledge=> {%>

                                    <tr>
                                        <td width="100" text-align="center">
                                            <%=pledge.school%>
                                        </td>
                                        <td width="300" text-align="center">
                                            <a href="/pledge/<%=pledge.candidateId%>" style="color: black">
                                                <%=pledge.title%>
                                            </a>
                                        </td>
                                        <td width="100" text-align="center">
                                            <%=pledge.candidate.name%>
                                        </td>
                                        <td width="100" text-align="center">
                                            <%=pledge.createdAt%>
                                        </td>
                                    </tr>

                                    <%})%>
                            </tbody>
                        </table>
                    </form>


                    <%- include('footer.ejs')%>
</body>

</html>