<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>토론게시판</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/css/board.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="https://kit.fontawesome.com/b4fd1295e3.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="wrapper">
        <%- include('navigation.ejs') %>
        <div id="logo" class="container">
            <h1 style="font-size:40px; line-height:1.5em;"><a href="/">Democra ; SEE </a></h1>
            <p style="font-size:20px;">Vote Your Life</p>
        </div>
        <button onclick="location.href= '/<%=category%>/create';">글쓰기</button>
        <form action="#" method="GET">
            <table>
                <thread>
                    <tr>
                        <td width="30">학교</td>
                        <td width="500">제목</td>
                        <td width="100">작성자</td>
                        <td width="200">작성일</td>
                        <td width="50">댓글</td>
                        <td width="50">조회수</td>
                    </tr>
                </thread>
                <tbody>
                    <%posts.forEach(post=> {%>

                        <tr>
                            <td width="100" text-align="center">
                                <%=post.school%>
                            </td>
                            <td width="300" text-align="center">
                                <%=post.title%>
                            </td>
                            <td width="300" text-align="center">
                                <%= post.user.name%>
                            </td>
                            <td width="100" text-align="center">
                                <%=post.createdAt%>
                            </td>
                            <td width="100" text-align="center">
                                <%=post.commentCount%>개
                            </td>
                            <td width="100" text-align="center">
                                <%= post.viewCount%>
                            </td>
                        </tr>

                        <%})%>
                </tbody>
            </table>
        </form>
        <hr style="margin:2em;">
        <div class="container">
            <form style="margin :auto" , action="#" , method="GET">
                <select>
                    <option value="title">제목</option>
                    <option value="name">작성자</option>
                </select>
                <input type="text" name="search" size="30" required="required">
                <input type="button" value="검색">
            </form>
        </div>

        <div id="footer">
            <p>© 2012 Untitled Inc. All rights reserved. Lorem ipsum dolor sit amet nullam blandit consequat phasellus
                etiam lorem. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Photos by <a
                    href="http://fotogrph.com/">Fotogrph</a>.</p>
        </div>
        <!-- end #footer -->
</body>

</html>