<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('head.ejs') %>
    <title>토론게시판</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/css/board.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="https://kit.fontawesome.com/b4fd1295e3.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('navigation.ejs') %>
    <div id="wrapper">
            <%if(category!=='edu' || user.role==='admin' ){%>
                <button onclick="location.href= '/<%=category%>/create';">글쓰기</button>
                <%}%>
                    <form action="#" method="GET">
                        <table>
                            <thread>
                                <tr>
                                    <td width="30">학교</td>
                                    <td width="500">제목</td>
                                    <td width="100">작성자</td>
                                    <td width="200">작성일</td>
                                    <td width="50">댓글</td>
                                    <td width="50">조회수</td>
                                </tr>
                            </thread>
                            <tbody>
                                <%posts.forEach(post=> {%>
                                    <tr>
                                        <td width="100" text-align="center">
                                            <%=post.school%>
                                        </td>
                                        <td width="300" text-align="center">
                                            <a href="/<%=category%>/<%=post.id%>" style="color: black">
                                                <%=post.title%>
                                            </a>
                                        </td>
                                        <td width=" 300" text-align="center">
                                            <%= post.user.name%>
                                        </td>
                                        <td width="100" text-align="center">
                                            <%=post.createdAt%>
                                        </td>
                                        <td width="100" text-align="center">
                                            <%=post.commentCount%>개
                                        </td>
                                        <td width="100" text-align="center">
                                            <%= post.viewCount%>
                                        </td>
                                    </tr>
                                    <%})%>
                            </tbody>
                        </table>
                    </form>
                    <hr style="margin:2em;">
                    <div class="container">
                        <form style="margin :auto" , action="#" , method="GET">
                            <select>
                                <option value="title">제목</option>
                                <option value="name">작성자</option>
                            </select>
                            <input type="text" name="search" size="30" required="required">
                            <input type="button" value="검색">
                        </form>
                    </div>
                    
	<%- include('footer.ejs')%>
</body>

</html>