<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('head.ejs') %>
            <title>공약이행률</title>
            <link href="/assets/css/evaluation.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
    <%-include('navigation.ejs')%>
    <table>
        <tr>
            <td style="font-size: 20px; padding-top: 1em;
            padding-left: 5px;"><b>공약1</b></td>
        </tr>

        <tr>
            <td style="color: #4C4C4C; font-size: 12px; padding-left: 5px;
            padding-bottom: 1em;">
                작성자 | <%= post.user.name%> &nbsp;
                    작성일 | <%= post.updatedAt %> &nbsp;
                        조회수 | <%= post.viewCount%>

                            <input type="button" value="삭제" style="float: right; border: 0; outline: 0; cursor: pointer;
                        background-color: transparent; font-size: 12px;">

                            <input type="button" value="수정" style="float: right; border: 0; outline: 0; cursor: pointer;
                        background-color: transparent; font-size: 12px;">
            </td>
        </tr>

        <tr>
            <td class="line"></td>
        </tr>

        <tr>
            <td>
                <div style="font-size: 15px; padding: 5px;
                padding-top: 1em; padding-bottom: 1em;">
                    <%= post.content%>
                </div>
            </td>
        </tr>
    </table>
    <table style="border-collapse: collapse;">
        <form id="evalForm" method="POST">
            <tr>
                <td style="padding: 5px; text-align: center;">
                    <h3><b>공약이행도 투표</b></h3>
                </td>
            </tr>
            <tr>
                <td id="rating" style="text-align: center; font-size: 15px;">
                    <label><input type="radio" value="5" name="vote" class="rating">매우 만족</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label><input type="radio" value="4" name="vote" class="rating">만족</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label><input type="radio" value="3" name="vote" class="rating" checked="checked">보통</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label><input type="radio" value="2" name="vote" class="rating">불만족</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label><input type="radio" value="1" name="vote" class="rating">매우 불만족</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <input type="submit">
                </td>
            </tr>

            <tr>
                <td>
                    <div style="margin-top: 50px; margin-bottom: 30px;" class="graph-wrapper">
                        <div class="percent-indicator">
                            <h3>현재 공약이행률</h3>
                            <div class="per-0"></div>
                            <div class="per-20"></div>
                            <div class="per-40"></div>
                            <div class="per-60"></div>
                            <div class="per-80"></div>
                            <div class="per-100"></div>
                        </div>
                        <ul class="graph">
                            <li class="item1 p-<%=rates.A%>"></li>
                            <li class="item2 p-<%=rates.B%>"></li>
                            <li class="item3 p-<%=rates.C%>"></li>
                            <li class="item4 p-<%=rates.D%>"></li>
                            <li class="item5 p-<%=rates.E%>"></li>
                        </ul>
                    </div>
                </td>
            </tr>

        </form>
    </table>

    <div id="list-wrap">
        <a href="#">목록</a>
    </div>

</body>
<script>
    const token = "<%= token%>"
    const postId = "<%= post.id%>"
</script>

<%- include('footer.ejs')%>

</html>